@import '../node_modules/normalize.css/';
@import './styles/global';
@import './styles/fonts';


// debug
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: .9;
  font-family: 'Prodotto In Cina';
  font-family: 'Prodotto In Cina', 'Arial Black';
  font-family: 'Prodotto In Cina', 'Arial Black', 'Arial', serif;
  font-weight: 900;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;;

  &__text {
    display: block;
    
    &_top {
      font-size: 44px;
    }
    &_middle {
      font-size: 57px;
    }
    &_bottom {
      font-size: 82px;
    }
  }  
}

