@import '../node_modules/normalize.css/';
@import './styles/fonts';


* {
  box-sizing: border-box;
}


a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  opacity: 1;

  &:hover {
    opacity: .8;
  }
}

html {
  // border: 1px solid red;
}

body {
  // border: 1px solid blue;
}

.hero__down-btn {
  border: 1px solid white;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  width: max-content;
  height: max-content;
  // height: 100%;
  // max-height: 65px;
}

.page {
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #000201;
  color: #fefefe;
}


.title {
  border: 1px solid orange;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: .9;
  font-family: 'Prodotto In Cina';
  font-family: 'Prodotto In Cina', 'Arial Black';
  font-family: 'Prodotto In Cina', 'Arial Black', 'Arial', serif;
  font-weight: 900;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;;

  &__text {
    border: 1px solid lawngreen;
    display: block;
    
    &_top {
      font-size: 44px;
    }
    &_middle {
      font-size: 57px;
    }
    &_bottom {
      font-size: 82px;
    }
  }  
}


.visually-hidden {
  position: fixed;
  transform: scale(0);
}

::selection {
  background-color: #ff3d00;
  color: #0e0e0e;
}

